In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [2]:
cardata=pd.read_csv("/Users/surya/Downloads/archive-2/cardata.csv")

In [ ]:
cardata.head()

In [ ]:
cardata.info()

### Selecting first 15 rows

In [3]:
c1=cardata.iloc[:,0:11]

In [ ]:
c1.info()

In [ ]:
c2['Make']

### Removing Fuel Types

In [4]:
Fuelx=['Petrol+CNG','Petrol+LPG','CNG+CNG','CNG','LPG']

### Filtering Year,Price,Fuel Type

In [5]:
c2=c1[(c1["Year"]>2010)& (c1['Price']<4000000)&(c1['Fuel Type']!='Fuelx') ]

In [ ]:
c2.info()

In [ ]:
c2.describe(include='all')

In [ ]:
c3= c2[(c2['Location'] == 'Bangalore')&(c2['Make']=='Maruti Suzuki')].groupby('Owner')['Price'].mean()

In [ ]:
c3

In [17]:
c4=c2[(c2['Location'] == 'Bangalore')&(c2['cm']=='Swift')]['Price'].mean()

In [18]:
c4

726666.6666666666

In [ ]:
sns.barplot(x="Owner",y="Price",data=c2)

In [ ]:
sns.scatterplot(x="Year",y="Price",hue='Make',data=c2)

In [ ]:
sns.barplot(x="Make",y="Price",data=c2)
plt.xticks(rotation=90)
plt.show()

In [ ]:
sns.scatterplot(x="Kilometer",y="Price",hue="Fuel Type",data=cardata)

In [ ]:
c2.head(10)

In [ ]:
c2.head()

In [6]:
 a=c2['Model'].str.split(' ', expand=True)

In [ ]:
a.describe()

In [7]:
z=a[0]

In [ ]:
z

In [12]:
c2['cm']=z
c2.drop('Model',axis=1,inplace=True)

/var/folders/z8/bn08xxkn59vf8m8163fd09pw0000gn/T/ipykernel_41316/3502453147.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c2['cm']=z
/var/folders/z8/bn08xxkn59vf8m8163fd09pw0000gn/T/ipykernel_41316/3502453147.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  c2.drop('Model',axis=1,inplace=True)

In [13]:
c2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1755 entries, 0 to 2058
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          1755 non-null   object
 1   Price         1755 non-null   int64
 2   Year          1755 non-null   int64
 3   Kilometer     1755 non-null   int64
 4   Fuel Type     1755 non-null   object
 5   Transmission  1755 non-null   object
 6   Location      1755 non-null   object
 7   Color         1755 non-null   object
 8   Owner         1755 non-null   object
 9   Seller Type   1755 non-null   object
 10  cm            1755 non-null   object
dtypes: int64(3), object(8)
memory usage: 164.5+ KB

### Model Data Split

In [ ]:
x=c2.drop('Price',axis=1)

In [ ]:
y=c2['Price']

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [ ]:
#Dropping multiple columns 
cardata.drop(cardata.columns[[15,16,17,18,19]],axis=1, inplace=True)

In [ ]:
cardata.info()

In [ ]:
cardata.describe(include='all')

In [ ]:
ownerfil=['First']
locfil=['Bangalore']
Makefil=['Maruti Suzuki']
Modelfil=['Swift']

In [ ]:
filtered = c3[c3["Owner"].isin(ownerfil) & 
              c3["Location"].isin(locfil) & c3["Make"].isin(Makefil)& c3["Model"].isin("Modelfil")]

In [ ]:
c3.describe()

In [ ]:
lr=LinearRegression

In [ ]:
c4= c2[(c2['Location'] == 'Bangalore')].groupby('Owner')['Pridd

In [ ]:
c4

In [ ]:
lr.fit(x_train,y_train)

In [38]:
c5=c2[(c2['Location'] == 'Coimbatore')&(c2['cm'] == 'Swift')].groupby('Model')['Price'].mean()

In [55]:
c2[(c2['cm'] == 'Swift')&(c2['Year']==2021)].groupby('Location')['Price'].mean()

Location
Agra         775000.0
Ahmedabad    661000.0
Bangalore    745000.0
Name: Price, dtype: float64

In [58]:
c2[(c2['cm'] == 'Rapid')&(c2['Kilometer']<30000)].groupby('Location')['Price'].mean()

Location
Bangalore    1099000.0
Mumbai        425000.0
Name: Price, dtype: float64

In [ ]:
#Dropping multiple columns 
cardata.drop(cardata.columns[[15,16,17,18,19]],axis=1, inplace=True)

In [ ]:
cardata.info()

In [ ]:
cardata.describe(include='all')

In [ ]:
ownerfil=['First']
locfil=['Bangalore']
Makefil=['Maruti Suzuki']
Modelfil=['Swift']

In [ ]:
filtered = c3[c3["Owner"].isin(ownerfil) & 
              c3["Location"].isin(locfil) & c3["Make"].isin(Makefil)& c3["Model"].isin("Modelfil")]

In [ ]:
c3.describe()